* {
    padding: 0;
    margin: 0;
}

header {
    height: 113px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: #3B3B3B solid 2px;
}

.logo {
    border-radius: 100px;
    margin-left: -210px;
}

.nomeSite {
    margin-left: 15px;
    font-family: 'Julius Sans One', sans-serif;
    font-family: 'League Spartan', sans-serif;
    color: #3B3B3B;
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.inicioheader {
    margin-left: 150px;
}

.cursosheader {
    margin-left: 40px;
}

.projetosheader {
    margin-left: 40px;
}

.contatoheader {
    margin-left: 40px;
}

.header2 {
    width: 295px;
    height: 314px;
    border-radius: 0px 0px 22px 22px;
    background: #D8D8D8;
    
}

.perfil2 {
    border-radius: 100px;
}
